<li class="is-dropdown-submenu-parent" id="container-work-locations">
    <a class="menu-title" href="" id="work-location">
        Work Location
    </a>
    <ul class="menu list-menu">
        <li><a href="">Surabaya</a></li>
        <li><a href="">Jakarta</a></li>
        <li><a href="">Bandung</a></li>
        <li><a href="">DI Yogyakarta</a></li>
    </ul>
</li>