<li class="is-dropdown-submenu-parent" id="container-work-experiences">
    <a class="menu-title" href="" id="work-experience">
        Experience
    </a>
    <ul class="menu list-menu">
        <li><a href="">Less than a year</a></li>
        <li><a href="">More than a year</a></li>
        <li><a href="">More than five years</a></li>
        <li><a href="">More than ten years</a></li>
    </ul>
</li>