<li class="is-dropdown-submenu-parent" id="container-work-base-salary">
    <a class="menu-title" href="" id="work-salary">
        Per Month
    </a>
    <ul class="menu list-menu">
        <li><a href="">Per Month</a></li>
        <li><a href="">Per Week</a></li>
        <li><a href="">Per Year</a></li>
    </ul>
</li>