<li class="is-dropdown-submenu-parent" id="container-work-salary-range">
    <a class="menu-title" href="" id="work-salary-range">
        Salary Range
    </a>
    <ul class="menu list-menu">
        <li><a href="">
                < 5M Rupiah</a>
        </li>
        <li><a href="">> 5M Rupiah</a></li>
        <li><a href="">> 10M Rupiah</a></li>
    </ul>
</li>