<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= pageTitle ?>
    </title>
    <link rel="shortcut icon"
        href="/xbcvbx/svg/job-employment-business-recuitment-seeker-applicant-work-svgrepo-com.svg" type="image/x-icon">
</head>

<body>
    <?- body ?>
    <!-- foundation => css with protoype: true; & js bundle -->
    <script src="/xbcvbx/webpack/foundation.webpack.js"></script>
</body>

</html>