<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="shortcut icon"
        href="/xbcvbx/svg/job-employment-business-recuitment-seeker-applicant-work-svgrepo-com.svg" type="image/x-icon">
</head>

<body>
    <!-- NAV HEADER -->
    <header>
        <%- defineContent('navigation') %>
    </header>
    <!-- MAIN CONTENT -->
    <main>
        <!-- NOTE: defineContent('_NAME') is optional behavior, would not cause an error, whereas direct write '_NAME' will cause an error because that behave mandatory element -->
        <div class="main-layout grid-x grid-container full">
            <%- defineContent('sidebar') %>
                <div class="cell large-9">
                    <%- content %>
                </div>
        </div>
    </main>
    <!-- FOOTER -->
    <footer>

    </footer>
    <!-- foundation => css with protoype: true; & js bundle -->
    <script src="/xbcvbx/webpack/foundation.webpack.js"></script>
</body>

</html>