<%- contentFor('work-location') %>
    <ul class="dropdown menu" data-dropdown-menu>
        <li class="is-dropdown-submenu-parent">
            <a class="menu-title" href="" id="work-location">
                Work Location
            </a>
            <ul class="menu list-menu">
                <li><a href="">Surabaya</a></li>
                <li><a href="">Jakarta</a></li>
                <li><a href="">Bandung</a></li>
                <li><a href="">DI Yogyakarta</a></li>
            </ul>
        </li>
    </ul>
    <%- contentFor('work-experience') %>
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="is-dropdown-submenu-parent">
                <a class="menu-title" href="" id="work-experience">
                    Experience
                </a>
                <ul class="menu list-menu">
                    <li><a href="">Less than a year</a></li>
                    <li><a href="">More than a year</a></li>
                    <li><a href="">More than five years</a></li>
                    <li><a href="">More than ten years</a></li>
                </ul>
            </li>
        </ul>
        <%- contentFor('work-base-salary') %>
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="is-dropdown-submenu-parent">
                    <a class="menu-title" href="" id="work-salary">
                        Per Month
                    </a>
                    <ul class="menu list-menu">
                        <li><a href="">Per Month</a></li>
                        <li><a href="">Per Week</a></li>
                        <li><a href="">Per Year</a></li>
                    </ul>
                </li>
            </ul>
            <%- contentFor('work-salary-range') %>
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="is-dropdown-submenu-parent">
                        <a class="menu-title" href="" id="work-salary-range">
                            Salary Range
                        </a>
                        <ul class="menu list-menu">
                            <li><a href="">
                                    < 5M Rupiah</a>
                            </li>
                            <li><a href="">> 5M Rupiah</a></li>
                            <li><a href="">> 10M Rupiah</a></li>
                        </ul>
                    </li>
                </ul>