<div class="cell schedule-filters margin-top-1">
    <p class="subheader">
        Schedule
    </p>
    <div class="schedule-checkbox">
        <form action="">
            <!-- s-cb-1 refer to schedule-checkbox-1 -->
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="fulltime" id="s-cb-1">
                <label for="s-cb-1">Full Time</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="parttime" id="s-cb-2">
                <label for="s-cb-2">Part Time</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="volunteering" id="s-cb-3">
                <label for="s-cb-3">Volunteering</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="projectwork" id="s-cb-4">
                <label for="s-cb-4">Project Work</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="internship" id="s-cb-5">
                <label for="s-cb-5">Internship</label>
                <span class="checkmark"></span>
            </div>
        </form>
    </div>
</div>
<div class="cell employment-type-filters margin-top-2">
    <!-- padding-top-2 -->
    <p class="subheader">
        Employment type
    </p>
    <div class="employment-type-checkbox">
        <form action="">
            <!-- e-type-cb-1 refer to employment-type-checkbox-1 -->
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="fullday" id="e-type-cb-1">
                <label for="e-type-cb-1">Full Day</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="shiftwork" id="e-type-cb-2">
                <label for="e-type-cb-2">Shift Work</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="flexibleschedule" id="e-type-cb-3">
                <label for="e-type-cb-3">Flexible Schedule</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="distantwork" id="e-type-cb-4">
                <label for="e-type-cb-4">Distant Work</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="shiftmethod" id="e-type-cb-5">
                <label for="e-type-cb-5">Shift Method</label>
                <span class="checkmark"></span>
            </div>
        </form>
    </div>
</div>
<div class="cell professional-level-filters margin-top-2">
    <!-- padding-top-2 -->
    <p class="subheader">
        Professional level
    </p>
    <div class="professional-level-checkbox">
        <form action="">
            <!-- p-level-cb-1 refer to professional-level-checkbox-1 -->
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="traineelevel" id="p-level-cb-1">
                <label for="p-level-cb-1">Trainee Level</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="juniorlevel" id="p-level-cb-2">
                <label for="p-level-cb-2">Junior Level</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="middelelevel" id="p-level-cb-3">
                <label for="p-level-cb-3">Middele Level</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="seniorlevel" id="p-level-cb-4">
                <label for="p-level-cb-4">Senior Level</label>
                <span class="checkmark"></span>
            </div>
            <div class="form-checkbox flex-container">
                <input type="checkbox" name="directorlevel" id="p-level-cb-5">
                <label for="p-level-cb-5">Director Level</label>
                <span class="checkmark"></span>
            </div>
        </form>
    </div>
</div>
<div class="cell button-apply-container margin-top-1 padding-right-1">
    <button type="button" class="filter-apply-btn button expanded">Apply</button>
</div>