<div class="similar-job-item bordered">
    <div class="similar-job-company-detail">
        <div class="similar-company-logos card-image">
            <img src="/xbcvbx/images/forbes-logo-svgrepo-com.svg" alt="">
        </div>
        <div class="similar-job-role-company-location">
            <div class="similar-job-role">
                <span>
                    Cloud Engineer and Backend Go Lang
                </span>
            </div>
            <div class="similar-job-company">
                <span>
                    Forbes
                </span>
            </div>
            <div class="similar-job-location">
                <svg fill="#A9A9A9" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px" viewBox="0 0 395.71 395.71"
                    xml:space="preserve">
                    <g>
                        <path
                            d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738
                                                                                            c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388
                                                                                            C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191
                                                                                            c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z" />
                    </g>
                </svg>
                <span>
                    Probolinggo, Jawa Timur, Indonesia
                </span>
            </div>
        </div>
        <div class="similar-job-bookmark">
            <button class="button">
                <svg width="12px" height="12px" viewBox="-4 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">

                    <title>bookmark</title>
                    <desc>Created with Sketch Beta.</desc>
                    <defs>

                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Icon-Set-Filled" sketch:type="MSLayerGroup"
                            transform="translate(-419.000000, -153.000000)" fill="#000000">
                            <path
                                d="M437,153 L423,153 C420.791,153 419,154.791 419,157 L419,179 C419,181.209 420.791,183 423,183 L430,176 L437,183 C439.209,183 441,181.209 441,179 L441,157 C441,154.791 439.209,153 437,153"
                                id="bookmark" sketch:type="MSShapeGroup">

                            </path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </div>
    <div class="similar-job-category">
        <span class="label project-work">Project Work</span>
        <span class="label internship">Intership</span>
    </div>
    <div class="similar-job-current-info">
        <div class="similar-job-post-info">
            <span>
                3 days ago
            </span>
        </div>
        <div class="similar-job-applicant">
            <span>
                4 Applicant
            </span>
        </div>
    </div>
</div>