<div class="grid-container grid-x grid-frame">
    <div class="cell cell-block-container bordered" style="background-color: green;">
        <div class="grid-x">
            <div class="cell small-6 bordered" style="background-color: red;">
                <h5>Title Here</h5>
            </div>
            <div class="cell small-6 cell-block bordered" style="background-color: yellow;">
                <p style="height: 40em; padding: 1em;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quae. Eveniet laborum ratione
                    libero, vero id sed soluta beatae, totam ullam tenetur animi nulla? Quia sunt quasi atque beatae
                    quae, obcaecati quod expedita quam ducimus hic sed cum iure nihil inventore aliquam fuga! Soluta et
                    voluptates eaque ipsum consequatur iste magni vero error quibusdam porro doloribus ab, suscipit
                    repellat dolorum molestiae tempore! Veritatis harum asperiores, aliquam quisquam ipsam, corporis
                    iusto odio deleniti alias quibusdam eos voluptatum accusamus totam quam quis commodi dolorum
                    praesentium inventore magni voluptas. Cumque vitae eaque consequatur nesciunt voluptatibus. Odit,
                    quasi, iste voluptatibus perferendis laboriosam facilis ab hic quae enim atque reprehenderit ut in
                    sapiente id dicta. Ea, obcaecati. Culpa fugit nostrum aut quia sunt! Aperiam dolore tempore
                    consectetur delectus sit officiis, placeat ipsam minima corporis id totam et reiciendis modi nobis,
                    impedit tenetur ipsa? Impedit maiores veritatis tempore facere cum maxime quam, cumque laudantium
                    dolores mollitia soluta, doloremque nihil ex officia aperiam dolore omnis? Unde quasi exercitationem
                    adipisci, sit voluptates consequatur labore. Alias natus similique veritatis saepe tempora pariatur
                    quia quod quidem, corrupti debitis sed quaerat velit magni? Similique autem praesentium, molestiae
                    amet alias architecto, illum, id et mollitia qui minima tenetur laborum soluta aspernatur labore
                    fuga. Vitae quo ipsum ducimus error veritatis illum! In provident commodi consequuntur delectus
                    numquam. Adipisci quo blanditiis doloribus aperiam dolorem, eum autem nesciunt voluptate consectetur
                    necessitatibus a. Dolorem quasi blanditiis doloremque, eaque aspernatur facere enim similique quos,
                    impedit reiciendis libero. Nulla culpa tempora voluptas dignissimos rem consectetur earum aut ut
                    non, libero, ab aliquam impedit et dolorum reiciendis esse necessitatibus iste deserunt molestias
                    ipsum, itaque recusandae molestiae. Est aliquam ea illo eaque modi impedit, iusto eum voluptatum
                    facere, commodi tempore voluptatibus eligendi. Inventore quia nihil voluptas recusandae, id
                    voluptate accusamus et excepturi placeat consequuntur eaque doloremque sint sequi quod modi nostrum
                    corporis voluptatem voluptates! Exercitationem molestiae odio veniam illum, totam magnam animi iure
                    ab enim perferendis dolorem delectus fuga odit saepe ipsum expedita cum sequi fugiat. Rerum officiis
                    repellendus quam totam earum nam quo? Tempora quidem sed quisquam fugiat labore ullam soluta ipsam
                    optio delectus aliquam consequuntur nulla id maxime officia, rerum magnam est. Voluptatibus dolore
                    natus, architecto nam sit earum velit rerum, delectus impedit ex doloribus adipisci alias est, optio
                    minus officia nobis vel eaque deserunt corporis ab itaque excepturi veniam asperiores? Dicta amet
                    eos iure, ex exercitationem consectetur voluptas nostrum vitae distinctio harum doloremque,
                    dignissimos maxime esse quae earum rerum nesciunt corporis error ad autem expedita debitis
                    reprehenderit? Nostrum aspernatur quas dolorem ab voluptatibus optio ipsam nihil sequi obcaecati
                    eligendi velit quae aliquam ut corporis consequuntur rerum nulla culpa repellendus cum in,
                    voluptatum quibusdam debitis a. Eos aspernatur fugit, assumenda molestiae repudiandae ad laboriosam
                    eveniet repellendus deleniti ipsum officiis neque quibusdam perspiciatis dicta optio dolores. Neque
                    blanditiis nihil voluptate voluptatibus voluptatem veniam ipsa delectus velit reprehenderit numquam
                    ipsum, sint aperiam eligendi harum ab quas explicabo repellat sapiente, nesciunt vero a cumque?
                    Praesentium fugiat commodi vel quidem veniam. Natus consequatur quibusdam sequi minima odio placeat
                    blanditiis! Nihil quibusdam impedit possimus. Quia mollitia beatae voluptatem, modi, rem deleniti
                    quibusdam temporibus veritatis tenetur optio perspiciatis debitis consectetur cum a dolore animi
                    magnam. Placeat necessitatibus excepturi eligendi consectetur. Provident excepturi consectetur quae,
                    in suscipit sequi dolor odit quibusdam, obcaecati, molestiae necessitatibus vero nihil. Rerum at
                    iusto ut impedit. Quas, culpa doloribus. Voluptate expedita numquam fugiat eveniet, facere
                    repudiandae laboriosam sequi magni excepturi ipsum deserunt vero quae eum exercitationem assumenda
                    optio repellat autem quidem similique aliquam et hic itaque. Natus nulla eaque porro. Ipsum eveniet,
                    ullam ducimus incidunt iure maxime fugit soluta mollitia iste voluptatem similique voluptatum
                    eligendi eos nisi inventore tempora laboriosam. Animi architecto ratione voluptatibus. Veniam cumque
                    tempore iusto totam modi alias fugiat molestiae fugit, nostrum libero sunt aperiam, corporis
                    explicabo iste! Placeat commodi praesentium quidem! Perferendis totam libero, esse nobis aspernatur
                    culpa laborum delectus et assumenda adipisci officiis dolores cumque eius reiciendis odit corrupti
                    quia distinctio reprehenderit doloremque tempore ipsum, temporibus molestiae quas! Distinctio
                    corporis accusantium ipsum eaque a beatae blanditiis, dolorum, rem magni deleniti doloribus
                    asperiores quae quia voluptate magnam tempore rerum earum illum, possimus perspiciatis omnis
                    voluptatum praesentium. Velit culpa tempore dolore inventore, consectetur ullam placeat nisi,
                    officiis, impedit reiciendis provident autem cumque excepturi iste commodi illo nobis sit suscipit
                    aliquam aperiam laboriosam? Quod repudiandae nostrum, officiis assumenda minima quae? Vero, porro
                    quis eum ut dicta, totam necessitatibus molestias recusandae vitae blanditiis vel architecto! Odit
                    aperiam tempora rem eius, cumque esse consectetur quidem delectus voluptatibus cupiditate quisquam
                    dolores distinctio blanditiis, excepturi in mollitia error eveniet consequatur pariatur natus saepe,
                    fugit sit quam? Rerum, iure, officiis ratione quae perferendis velit autem quo nam possimus deleniti
                    obcaecati cum? Velit ratione reiciendis, accusamus exercitationem dolores doloremque recusandae
                    saepe corrupti obcaecati voluptatum rem eius, nihil vel nesciunt neque atque eaque veritatis ducimus
                    illum mollitia, fugiat nemo minima? Esse quo nam reprehenderit distinctio optio amet tenetur
                    adipisci voluptatum harum quam quia consequatur tempore veritatis similique debitis, minima ipsam
                    sapiente a recusandae numquam eum blanditiis dignissimos fuga. Exercitationem reiciendis porro
                    mollitia repellendus eum eveniet ducimus sunt, eaque vel qui voluptatum recusandae enim perferendis,
                    maxime atque vitae nostrum. Officia unde ea debitis. Quo non minus iste tempore quas laborum placeat
                    voluptate illum sapiente, alias voluptatibus nisi odit excepturi dolores sit corporis, ipsum
                    tempora! Laudantium natus unde eum quasi veniam eveniet excepturi fugiat placeat obcaecati, corporis
                    consequuntur alias quo odit voluptate, exercitationem nostrum magni nulla. Eum debitis quibusdam
                    laborum consectetur dignissimos adipisci ad aut quas animi iure. Doloribus aliquam deleniti fugit
                    nam vel ipsa eligendi tempore omnis, officia natus sed adipisci vitae soluta, corporis consequatur
                    est totam! Aliquam illum dignissimos repellendus rem maxime hic in, quibusdam laudantium dicta
                    aspernatur blanditiis ratione explicabo fugiat sapiente a, nemo temporibus sunt optio adipisci
                    perspiciatis perferendis quis! Quos ipsa sapiente neque unde repellat deleniti porro provident magni
                    quam modi vitae, nisi qui, cupiditate nulla dolorem expedita id quis. Quae, praesentium
                    consequuntur, est omnis mollitia dolor nobis tenetur incidunt aspernatur, repudiandae tempore ea
                    odit perferendis repellendus voluptatem nam! Vel fugit inventore animi! Corrupti commodi dignissimos
                    deserunt debitis veritatis? Mollitia recusandae amet a porro dolore exercitationem quos nulla,
                    necessitatibus ab quisquam laudantium sed ex non quibusdam iusto illum aliquid doloribus! Non, minus
                    alias aliquid sint nesciunt saepe, dignissimos officia molestias quibusdam illo unde, quisquam quos!
                    Dolorum ratione modi recusandae repellendus nostrum placeat similique voluptatum et magni cumque
                    aspernatur laborum maiores aliquid quasi, qui sunt consectetur quos voluptates? Facere aperiam unde,
                    ea, neque, esse aspernatur ab fugit voluptatum excepturi repellat deleniti. Natus, harum placeat
                    vitae consequuntur incidunt aliquid enim sint sit debitis commodi cum qui eius tenetur cumque
                    adipisci doloribus, dolores totam neque ea officiis similique ad labore repudiandae! Cupiditate
                    natus amet nam velit magnam saepe sunt voluptatem facere! Animi culpa esse libero, obcaecati rerum
                    impedit magni laudantium non doloribus blanditiis quia quisquam, nesciunt quam ratione reiciendis
                    enim ut facilis at velit optio in repellendus! In harum illum quis quia nostrum adipisci aliquam
                    neque perferendis totam quisquam. Explicabo ducimus tempore sint nisi maxime. Optio nostrum fugiat
                    quod! Totam distinctio enim necessitatibus illo cumque dolorem, dolor fuga nam! Ipsum distinctio
                    maxime nobis corrupti nemo maiores dolor sit nostrum, perspiciatis rem eligendi accusantium
                    praesentium neque totam quo a! Obcaecati veniam minus vero ipsum, error ut maxime aperiam amet,
                    animi cupiditate culpa fugiat, eos placeat. Rerum delectus laborum at? Illo enim delectus quod
                    commodi aspernatur atque voluptatum ut cupiditate exercitationem consectetur, distinctio, et,
                    assumenda tenetur? Rem maiores suscipit veniam eum laudantium placeat neque veritatis magnam,
                    voluptatum amet excepturi odio quam sunt quaerat praesentium? Ex architecto porro aperiam cumque
                    officia libero, aliquam iusto vitae debitis. Doloremque ex, reiciendis natus, minus fuga illum fugit
                    quia tenetur maxime obcaecati eos rerum earum animi expedita a facere laudantium voluptas officia,
                    debitis molestias ullam vitae maiores culpa atque. Deserunt rerum sunt quidem illo blanditiis ipsam,
                    eligendi similique totam autem nostrum! Porro hic molestias, voluptates quaerat neque eos unde nam,
                    aliquam nihil itaque ut non sint, pariatur obcaecati sit laudantium eius ipsum. Nisi dolorem, iste
                    quidem perferendis earum odio nostrum, iusto nam fuga dolores, porro repudiandae labore asperiores
                    beatae corrupti ducimus aspernatur repellendus voluptas ad totam? Consectetur rerum deleniti nulla
                    nisi ducimus sed repudiandae nihil eveniet? Natus aliquid quam commodi doloribus impedit. Iure id
                    numquam dolore, explicabo error praesentium assumenda ut incidunt aliquam quis architecto odit ad
                    perspiciatis esse? Quia ratione, modi omnis ad cum iusto veritatis nemo ipsum sed debitis, dolores
                    tempore officia dolorem quisquam harum eum exercitationem rerum. Nobis assumenda in harum nam
                    corporis labore culpa doloremque asperiores, voluptatem ratione excepturi ab maxime, totam fugiat
                    deleniti earum laboriosam voluptatum ex dicta quis officiis. Officiis suscipit ipsa laborum sequi
                    minima id magni quos commodi temporibus? Iste debitis aliquid praesentium? Magnam est officia cumque
                    explicabo repudiandae ipsa nam inventore dolorum libero aut rerum, perspiciatis commodi eum, facilis
                    excepturi nulla minus ab! Accusantium laboriosam consectetur explicabo doloribus? Accusantium, quis!
                    Nostrum voluptatem cupiditate voluptate! Sequi eum nemo maxime a esse quos pariatur magnam. Ut
                    ducimus harum distinctio. Nam libero quia veniam dicta voluptate provident dolores commodi
                    laudantium enim sit, tempore tenetur, deserunt cumque mollitia molestias ut fugit distinctio iusto
                    ducimus accusantium. Dolores, tempora cumque. Voluptas pariatur ut sed temporibus fugit quaerat
                    minus delectus maiores esse reprehenderit tempore quidem optio est sequi, culpa recusandae vero
                    soluta, mollitia nulla velit harum officiis ex, sint earum. Blanditiis corporis, repellendus qui
                    culpa aperiam voluptates debitis nisi reprehenderit delectus praesentium mollitia deserunt, minima
                    eligendi similique? Ad voluptatibus iusto minima sint dolorem et eaque nam quod temporibus? Tempora
                    placeat nam accusamus id sed architecto cupiditate deleniti illum, quo, reiciendis repudiandae,
                    dolore illo consequuntur blanditiis obcaecati et non. Recusandae ullam numquam placeat facilis animi
                    tempora harum sequi necessitatibus debitis sit! Quisquam, nobis consequuntur! Corrupti adipisci
                    eaque numquam id placeat veniam minima. Quos aspernatur alias ipsam, ea consequatur a sapiente
                    voluptates. Deleniti amet nam doloribus sunt numquam recusandae. Suscipit, corrupti molestias? Earum
                    natus fugit autem, nesciunt recusandae cum repudiandae eaque tempora, possimus culpa incidunt esse
                    consequuntur veniam excepturi itaque ipsam illo sit at dicta aperiam ea quisquam saepe? Quam
                    numquam, labore quas error pariatur iste iure consectetur molestias maxime? Rem, voluptate numquam.
                    Nemo, hic? Placeat unde reprehenderit atque pariatur ab eum, obcaecati adipisci incidunt enim
                    assumenda nostrum! Assumenda dolores molestias aliquid odio dolore, possimus natus nam quia dolor
                    esse est mollitia? Facilis, magni. Quam minima, perferendis praesentium ullam delectus, architecto
                    necessitatibus, voluptatem ad quo iure animi natus non. Iure animi dicta incidunt autem, dolores ea,
                    libero sed ex suscipit sapiente expedita corrupti accusamus eveniet voluptatum quibusdam ducimus
                    mollitia nemo? Rerum inventore veritatis cupiditate cumque praesentium tenetur repellat officia vel
                    ullam dolor, est iure harum voluptates, accusamus repudiandae ratione unde sapiente quos, animi
                    dicta commodi sunt. Maxime ex at eius doloribus accusamus, dolorem ipsa magnam amet laborum quas
                    itaque illum doloremque architecto sint minus quaerat? Soluta nulla aperiam assumenda perferendis.
                    Ipsa hic quae blanditiis labore earum aut magnam corporis molestiae nisi temporibus nulla eveniet in
                    ex, voluptates ipsum est. Voluptatum est tempora explicabo omnis pariatur reiciendis, exercitationem
                    ipsam saepe. Quisquam quam recusandae itaque quaerat mollitia? Necessitatibus, ipsa fugiat. Iure
                    nemo eius a deleniti itaque laboriosam neque sapiente error aut laborum veniam optio et, eum tempora
                    nesciunt asperiores suscipit temporibus maxime laudantium ipsa? Blanditiis suscipit quod ea optio
                    delectus architecto laborum dolores, deleniti, iste consequuntur quaerat sint minus. Fuga, esse
                    suscipit, non accusantium laudantium nostrum architecto veniam tempora, est labore praesentium
                    natus? Nobis modi, molestias pariatur labore reprehenderit consequatur earum veritatis quia.
                    Deserunt esse eveniet ipsa consequuntur in nemo nihil quis corporis quaerat cumque quo labore
                    reiciendis, laborum adipisci praesentium iusto accusamus libero rerum cum eius repellat! Eius vero
                    omnis reprehenderit voluptate pariatur corporis magnam magni aliquid itaque totam, tempora error
                    iure labore ipsa? Doloribus, amet repellat distinctio quasi voluptatum laborum odio aliquam dolores
                    fugit asperiores voluptas recusandae quos, exercitationem, sequi eos quia! Laudantium nisi quibusdam
                    fugit tempora libero aliquid repellat eum adipisci doloribus, commodi, dolor at veniam blanditiis
                    provident incidunt dignissimos. Obcaecati explicabo libero impedit, quod, mollitia deleniti,
                    recusandae maxime tempore rem doloremque eos. Praesentium facilis, non voluptatibus sequi impedit
                    dolor minima inventore veniam dolores corrupti! Qui consequatur saepe asperiores ut voluptate
                    incidunt alias? Minima eligendi itaque facilis atque error aliquid quae temporibus?
                </p>
            </div>
        </div>
    </div>
</div>