<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= pageTitle ?>
    </title>
</head>

<body>
    <h1>
        <?= title ?>
    </h1>

    <? for(let index = 0; index < items.length; index++) { ?>
    <p>
        <?= items[index] ?>
    </p>
    <? } ?>
</body>

</html>